

/* Navbar genel stil */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Liste stilleri */
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Liste öğeleri */
.navbar-item {
  margin: 0 15px;
}

/* Link stilleri */
.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
  background-color: #555;
  color: #ffcc00;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Her satırda 3 sütun */
  gap: 15px; /* Öğeler arasındaki boşluk */
  padding: 0;
  margin: 20px auto;
  list-style: none;
  max-width: 1200px; /* Galerinin genişliği */
}

/* Galeri Öğesi */
.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Resim */
.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s;
}

.gallery-item:hover .gallery-image {
  opacity: 0.9;
}
.feedback-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.feedback-form input[type="email"],
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.feedback-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.feedback-form button:hover {
  background-color: #0056b3;
}
